* {
    cursor: url(src/cursor.png) 6 1, pointer;
    font-family: 'Pacifico', cursive;

}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$color1: #333333;
$color2: rgb(16, 233, 86);

//
html {
    background: linear-gradient(to bottom,
            darkgreen, rgb(16, 233, 86), black, rgb(16, 233, 86), darkgreen);
}


body {
    margin: 100px 0 0 0;
    font-size: 1.5em;
    color: $color1;
    text-align: center;
}

section {
    width: 80%;
    margin: 3em auto;

    h2 {
        margin: 1em auto;
    }
}

hr {
    width: 70%;
    margin: 0 auto;
    border-color: $color1;
    border-width: 1px 0 0 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 5;
    margin: 0;
    padding: 0;

    img {
        height: 75%;
        padding-left: 2%;
    }

    nav {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 2%;

        a {
            text-decoration: none;
            color: $color1;
        }
    }
}

#divTitle {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 120%;
    }

    #presentation {
        position: absolute;

        background: linear-gradient(to right,
                white, $color2, white, $color2, white);
        -webkit-background1-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        h1 {
            margin-top: 0;
            font-size: 3em;
        }
    }
}

#about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


    #description {
        width: 100%;
        border: solid;
    }

    #lol,
    #spotify {
        width: 45%;
        border: solid;
    }
}

#contact {

    form {
        padding: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color1;
        border: solid $color1 2px;
        border-radius: 50px;
        padding: 25px;

        .identite,
        .coordonnees {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
        }

        .error {
            width: 100%;
            max-width: 300px;
            font-size: 0.65em;
            color: red;
            background-color: $color1;
            width: auto;
            padding: 0 5px;
            border: solid red 2px;
            margin-bottom: 5px;
        }

        button {
            background-color: $color1;
            color: $color2;
            border: 2px solid $color1;
            border-radius: 10px;
            padding: 10px 20px;

            &:hover {
                color: $color1;
                background-color: $color2;
                transition: color 0.5s, background-color 0.5s;
                transform: scale(1.2);
            }

            &:active {

                transform: scale(0.9);
            }

        }

        textarea,
        input {
            opacity: 0.7;
            padding: 5px;
            margin: 5px 0;
            border: 2px solid $color1;
            border-radius: 10px;
            width: 100%;
            max-width: 300px;
        }

    }

}

#projects {
    #portfolio {
        border: solid black 2px;
        height: 100px;
        margin: 50px 0;
    }
}

footer {
    p {
        margin: 0;
    }

    margin-top: 10px;
    padding: 5px;
    width: 100%;
    background-color: $color2 ;
}

@media screen and (max-width: 800px) {
    * {
        font-size: 80%;
    }

    header {

        nav {
            flex-direction: column;
            text-align: end;
            list-style-image: url(src/fleche.png);
        }
    }
}

@media screen and (min-width: 801px) {
    nav {
        list-style: none;
        align-items: center;

    }
}