* {
  cursor: url(src/cursor.png) 6 1, pointer;
}

@font-face {
  font-family: "NovaSquare";
  src: url("src/fonts/Nova_Square/NovaSquare-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit";
  src: url("src/fonts/Kanit/Kanit-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "DancingScript";
  src: url(src/fonts/Dancing_Script/DancingScript-Bold.ttf) format("truetype");
}
@keyframes colorScroll {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}
hr {
  width: 70%;
  margin: 0 auto;
  border-color: #333333;
  border-width: 1px 0 0 0;
}

body {
  margin: 75px 0 0 0;
  font-size: 1.2em;
  text-align: center;
  background-color: #333333;
  font-family: "Kanit", sans-serif;
}

h2,
h3 {
  font-family: "NovaSquare", sans-serif;
}

section {
  width: 80%;
  margin: 3em auto;
}
section h2 {
  margin: 1em auto;
  color: rgb(16, 233, 86);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(16, 233, 86);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 5;
  margin: 0;
  padding: 0;
  font-family: "NovaSquare", sans-serif;
}
header img {
  height: 75%;
  padding-left: 2%;
}
header nav {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
}
header nav div {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #333333;
  transition: transform 0.2s;
}
header nav div:hover a {
  color: white;
  transform: scale(1.2);
}

#divTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NovaSquare", sans-serif;
}
#divTitle img {
  width: 120%;
}
#divTitle #presentation {
  position: absolute;
  background: linear-gradient(to right, white, rgb(16, 233, 86), white, rgb(16, 233, 86), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#divTitle #presentation h1 {
  background: linear-gradient(to right, rgb(16, 233, 86), white, rgb(16, 233, 86), white, rgb(16, 233, 86));
  background-size: 200% 100%;
  animation: colorScroll 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 0;
  font-size: 6em;
  font-family: "DancingScript", cursive, sans-serif;
}

main {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgb(16, 233, 86), white, rgb(16, 233, 86), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
main #about {
  display: flex;
  align-items: center;
}
main #about #description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #about #description .subtitle {
  margin: 40px 0 20px 0;
  font-size: 1.2em;
  font-weight: 800;
  font-family: "NovaSquare", sans-serif;
}
main #about #description p {
  margin-bottom: 20px;
  margin-top: 0;
}
main #about #description #descDivs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main #about #description #descDivs #lol,
main #about #description #descDivs #spotify {
  width: 45%;
  border: solid;
  display: none;
}
main #tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main #tools h2 {
  width: 100%;
}
main #tools p {
  width: 100%;
  margin: 0 0 25px 0;
}
main #tools #competencesDiv div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 4px 0;
}
main #tools #competencesDiv div .pValue {
  display: none;
}
main #tools #competencesDiv div .pName {
  width: 25%;
  margin: 0;
}
main #tools #competencesDiv div img {
  max-width: 25%;
  height: 100%;
}
main #tools #competencesDiv div .progressBarFix {
  display: flex;
  justify-content: start;
  width: 50%;
  height: 12px;
  background-color: rgb(125, 125, 125);
  border-radius: 6px;
}
main #tools #competencesDiv div .progressBar {
  background-color: #4CAF50;
  border-radius: 6px;
  height: 100%;
}
main #tools #cvDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #tools #cvDiv img {
  width: 50%;
}
main #tools #cvDiv a {
  color: rgb(16, 233, 86);
}
main #tools #cvDiv a:hover {
  box-shadow: 0 0 10px rgb(16, 233, 86);
}
main #projects #portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
main #projects #portfolio .project {
  display: flex;
  justify-content: space-between;
  border: dotted rgb(16, 233, 86) 1px;
  margin: 20px 0;
}
main #projects #portfolio .project .projectMain {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #projects #portfolio .project .projectMain p {
  width: 50%;
}
main #projects #portfolio .project .projectMain img {
  max-width: 50%;
  max-height: 200px;
}
main #projects #portfolio .project .projectTools {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main #projects #portfolio .project .projectTools img {
  width: 25%;
}
main #projects #portfolio .project:hover .projectMain img {
  transition: transform 0.2s;
  transform: scale(1.2);
}
main #projects #portfolio .project:active {
  transition: transform 0s;
  transform: scale(0.9);
}
main #contact #socials img {
  width: 80px;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
  margin: 0 10px;
}
main #contact #socials img:hover {
  background-color: rgb(16, 233, 86);
  transform: scale(1.2);
}

footer {
  padding: 5px;
  width: 100%;
  background-color: rgb(16, 233, 86);
}
footer p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  * {
    font-size: 100%;
  }
  header nav {
    align-items: flex-end;
    width: 75%;
  }
  #about {
    justify-content: center;
  }
  #about img {
    display: none;
  }
  #about #description {
    width: 100%;
  }
  #tools {
    flex-direction: column;
    justify-content: center;
  }
  #tools #competencesDiv {
    width: 100%;
  }
  #tools #cvDiv {
    margin-top: 50px;
    width: 50%;
  }
  .project {
    width: 100%;
    padding: 20px;
  }
  .project .projectMain {
    width: 80%;
  }
  .project .projectTools {
    width: 15%;
    flex-direction: column;
    justify-content: end;
  }
}
@media screen and (min-width: 801px) {
  nav {
    align-items: center;
  }
  nav a {
    display: inline-block;
  }
  #about {
    justify-content: space-between;
  }
  #about #description {
    width: 60%;
  }
  #tools #competencesDiv {
    width: 70%;
  }
  #tools #cvDiv {
    width: 30%;
  }
  .project {
    width: 48%;
  }
  .project:nth-child(2n) {
    flex-direction: row;
  }
  .project:nth-child(2n) .projectMain {
    border-right: dashed rgb(16, 233, 86) 1px;
  }
  .project:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
  .project:nth-child(2n+1) .projectMain {
    border-left: dashed rgb(16, 233, 86) 1px;
  }
  .project .projectMain {
    width: 70%;
    flex-direction: column;
  }
  .project .projectTools {
    margin-top: 20px;
    width: 25%;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
